
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Source Sans Pro',sans-serif;

}

.container{
    background-color: #3c9;

}
.container .navbar {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.container .navbar .logo {
    flex-grow: 1;
}

.container .navbar .logo a{
    text-decoration: none;
    color:white;
    display: inline-block;    
    width: 50%;
    font-size: larger;
    font-weight: bold;
    padding-top: 40px;
}

ul {
   
    font-weight: bold;
    list-style-type: none;
    margin-left: 50%;
    padding: 20px;
    overflow: hidden;
  }
  
  li {
      display: inline-block;
    padding-left: 10px;
  }
  
  li a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    padding-left: 20px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #1c5e48;
      
  }
  .container .navbar .login{
  padding: auto;
  }
  
  .container .navbar .login button{
    background-color: #1c5e48;
    border-radius: 30px;
     border: none;
     color: white;
     padding:10px;
     text-align: center;
     display: inline-block;
      font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
  }
  .container .slogan{
    
      font-size: larger;
      padding-top: 15px;
      padding-left: 30px;
      color:white;
      letter-spacing: 2px;
      font-weight: bold;
  }
  .container .sloganext{
      font-weight: bold;
      color:white;
      padding:30px;
      letter-spacing: 1px;
      font-weight: lighter;
  }
  .container .butts .explorebutt{
      background-color: #1c5e48;
      border-radius: 30px;
       border: none;
       color: white;
       padding:10px;
       text-align: center;
       display: inline-block;
        font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
  }
  .container .butts{
    padding-left: 60px;
  }
  .container .butts .buynowbutt{
    background-color: #ff9100f5;
    border-radius: 30px;
     border: none;
     color: white;
     padding: 10px;
     text-align: center;
     display: inline-block;
      font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}

.clipart {
    display: flex;
    justify-content: flex-end;
}
